

<!DOCTYPE html>
<html>
	<head>
	<link rel = "stylesheet" href="{{url_for('static',filename = 'style1.css')}}">
	</head>
	<body>
        <!-- <img src="{{url_for('static',filename = '1.jpg')}}" alt = "no image"> -->

        <div class="b">
		<div class="a">
			<!-- Div Header-->
			<h2>Energy Consumption Forecasting 2024</h2>
			<!-- Links in Div -->
			<a href="{{url_for('home')}}"> prediction calculator </a>
			<a href="#"> members </a>
		</div>

        <div class = "c">
            <h1>Welcome to the energy consumption forecasting</h1>
            <p>Energy consumption forecasting is crucial for efficient resource management
             in smart grid systems. This research proposes a machine learning approach for
              proactive energy consumption forecasting, utilizing Linear Regression and Random
               Forest Regression models. In this study, develop models for seasonal short-term energy
                consumption forecasting using these traditional forecasting algorithms.
                 The proposed models are compared with each other to assess their performance</p>
        </div>

        <div class="c"><img src="{{url_for('static',filename = '4.jpg')}}" alt = "no image">
            <img src="{{url_for('static',filename = '3.jpg')}}" alt = "no image">
        </div>
        </div>

        
	</body>
</html>

